<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Buddies tech beautiful responsive websites and for your daily business single to multi responsive webpages with features, website devlopment here to help you move onto online">
    <meta name="author" content="Naveen Nk">
    <meta name="google-site-verification" content="UpVjlc0bHTRZlB12gWN92Haj97GrIaJLtdn9ynwcX90" />
    <meta name="keywords" content="web devlopers, website builders ,responsive websites, move to online, cse-b,kec,2018-2022,start up">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "images/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "images/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="{% static "images/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">
    <title>Website development - Responsive Desingns | Buddies Tech</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static "css/fontawesome.css"%}">
    <link rel="stylesheet" href="{% static "css/templatemo-finance-business.css"%}">
    <link rel="stylesheet" href="{% static "css/owl.css"%}">

<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{%url 'home'%}"><h1>Buddies Tech</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'contact'%}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are ready to help you</h6>
                  <h4>Problem Analysits<br>&amp; Developers</h4>
                  <p>We the vision of 2020 here to make your views true,millenialis here with millions of dreams</p>
                  <a href="{%url 'contact'%}" class="filled-button">contact us</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are here to bring you online</h6>
                  <h4>Developers<br>&amp; Management</h4>
                  <p>We the Problem solvers here to help you with daily problems,</p>
                  <a href="{%url 'contact'%}" class="filled-button">contact us</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
          </div>
          <div class="col-md-4">
            <a href="contact.html" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>service <em> provided</em></h2>
              <span>Dream as Real</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <img src="{%static "images/service_01.jpg"%}" alt="">
              <div class="down-content">
                <h4>Digitalization</h4>
                <p>Here we help to make your business online with fluid designs.Helps to make your business go wide among world</p>
                <!-- <a href="" class="filled-button">Read More</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <img src="{% static "images/service_02.jpg"%}" alt="">
              <div class="down-content">
                <h4>Add on's</h4>
                <p>We create additional services as per your business concern. With add on features like e-billing ,customer maintenance,etc..</p>
                <!-- <a href="" class="filled-button">Read More</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Here we convince you?</span>
              <h2>Our solutions for your <em>business growth</em></h2>
              <p>we are the future innovators young minded to bring you online<br>
                <br>we have interactive team to make u feel we are one among you<br>
                <br>we have creative minds to solve your daily probs<br>
              </p>
              <!-- <a href="" class="filled-button">Read More</a> -->
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <!-- <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">945</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">0</div>
                  <div class="count-title">Great Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit"></div>
                  <div class="count-title">Projects Done</div>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">26</div>
                  <div class="count-title">Awards Won</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{%static "images/more-info.jpg"%}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>our company</em></h2>
                    <p>	we are the visions of 2020,yes we are group of students try to make the vision comes true , This is an virtual start up we focus on the diamonds where they are in coal,we bring to the shine, the same way to digitalize your business and to reach a hit! </p>
                    <!-- <a href="#" class="filled-button">Read More</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-item">
            <h4>Get us through</h4>
            <p>Available evrywhere you can reach</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://m.facebook.com/buddiestech.buddiestech.9" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/BuddiesTech1?s=09" target ='_blank'><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/buddies-tech-30326a1a7"target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
            </ul>
          </div>
          <div class="col-md-4 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="{%url 'home'%}">Home</a></li>
<!--               <li><a href="#">About Us</a></li> -->
              <li><a href="{%url 'contact'%}">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-4 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <!-- <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required=""> -->
                          {% csrf_token %}
                          {{form.customer_name}}


                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <!-- <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required=""> -->
                          {{form.customer_mail}}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <!-- <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea> -->
                        {{form.message}}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; Buddies Tech Co., Ltd.

            - Design: <a>@buddies-tech</a></p>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js"%}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

    <!-- Additional Scripts -->
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/owl.js" %}"></script>
    <script src="{% static "js/slick.js" %}"></script>
<!--     <script src="{% static "js/accordions.js"%}"></script> -->

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>
